html {
  height: 100%;
}
body {
  font: 100% "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  height: 100%;
}
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}
.wrapper__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/***header***/
.main-header {
  background: -webkit-gradient(linear, left bottom, left top, from(#0069aa), to(#0378a6));
  background: -webkit-linear-gradient(bottom, #0069aa 0%, #0378a6 100%);
  background: linear-gradient(to top, #0069aa 0%, #0378a6 100%);
  border-bottom: 1px solid #83837f;
}
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px 0;
}
.header__logo {
  display: block;
}
.header__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__name {
  position: relative;
}
.header__name_inner {
  width: 188px;
  height: 30px;
  border: 1px solid #1c5f6d;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
          box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
  outline: none;
  color: #9d9d9d;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  margin-right: 10px;
  padding-left: 34px;
  padding-right: 10px;
  display: block;
  margin-bottom: 5px;
}
.header__name_img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: 10px;
  background: url("../images/sprite.png") no-repeat 0px 0px;
}
.header__pass {
  position: relative;
}
.header__pass_inner {
  width: 188px;
  height: 30px;
  border: 1px solid #1c5f6d;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
          box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
  outline: none;
  color: #9d9d9d;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  margin-right: 10px;
  padding-left: 34px;
  padding-right: 10px;
  display: block;
  margin-bottom: 5px;
}
.header__pass_img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: 10px;
  background: url("../images/sprite.png") no-repeat -19px 0px;
}
.header__sub {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 96px;
  height: 30px;
  border: 1px solid #045c90;
  -webkit-box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
          box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#0273a7), to(#026a98));
  background: -webkit-linear-gradient(bottom, #0273a7 0%, #026a98 100%);
  background: linear-gradient(to top, #0273a7 0%, #026a98 100%);
  color: #fff;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.header__sub:hover {
  opacity: 0.7;
}
/***nav***/
.nav {
  background: -webkit-gradient(linear, left bottom, left top, from(#cbc3b3), to(#e2d9ce));
  background: -webkit-linear-gradient(bottom, #cbc3b3 0%, #e2d9ce 100%);
  background: linear-gradient(to top, #cbc3b3 0%, #e2d9ce 100%);
  -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.4);
          box-shadow: 0 0 13px rgba(0,0,0,0.4);
  border-bottom: 1px solid #b6afa1;
}
.nav__button {
  font-size: 1.5em;
  color: #0069a7;
  margin-left: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  display: none;
  padding: 12px 0;
}
.nav__button:hover {
  opacity: 0.7;
}
.nav__list {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}
.nav__item {
  float: left;
  padding: 12px 26px;
  border-left: 1px solid #e3ddd4;
  position: relative;
}
.nav__item:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#ab9e8a), to(#ccbeae));
  background: -webkit-linear-gradient(bottom, #ab9e8a 0%, #ccbeae 100%);
  background: linear-gradient(to top, #ab9e8a 0%, #ccbeae 100%);
  cursor: pointer;
}
.nav__item:before {
  content: "";
  border-right: 1px solid #d0c7bc;
  display: block;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.nav__link {
  color: #767471;
  font: 0.87em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  text-decoration: none;
}
.nav__link:hover {
  color: #fff;
}
/***container***/
.main-container {
  background: transparent;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 37px 0;
}
.container__content {
  -webkit-flex-basis: 440px;
      -ms-flex-preferred-size: 440px;
          flex-basis: 440px;
}
.container__title {
  line-height: 2.12;
  color: #3e3e3e;
  font: 2em "Myriad Pro";
}
.container__title_clr {
  color: #0b74ac;
}
.container__text {
  color: #929292;
  font: 0.81em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  line-height: 1.4;
  margin-top: 15px;
}
.container__box {
  margin: 7px 0 0 20px;
  position: relative;
}
.container__img {
  width: 100%;
}
.container__info {
  background: url("../images/info.png") no-repeat;
  background-size: cover;
  width: 214px;
  height: 75px;
  position: absolute;
  top: 57%;
  left: -1.7%;
  padding-top: 13px;
  padding-left: 18px;
  color: #9cdbfc;
  font: 1.5em "Myriad Pro";
}
.container__size {
  font-size: 1.23em;
  display: block;
  margin-bottom: -5px;
  letter-spacing: 0.8px;
}
/***content***/
.main-content {
  background: #efefe8;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0 -6px 10px #efefe8;
          box-shadow: 0 -6px 10px #efefe8;
}
.content {
  padding-bottom: 36px;
  margin: 0 auto;
  max-width: 960px;
}
.content__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__box {
  margin: 36px 30px 0 0;
  max-width: 100%;
}
.content__box:last-child {
  margin-right: 0;
}
.benefits__title {
  background: -webkit-gradient(linear, left bottom, left top, from(#0378a6), to(#0069aa));
  background: -webkit-linear-gradient(bottom, #0378a6 0%, #0069aa 100%);
  background: linear-gradient(to top, #0378a6 0%, #0069aa 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
          box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  padding: 10px 20px 6px;
  font: 1.06em "Myriad Pro";
  font-style: italic;
  color: #fff;
  letter-spacing: 0.5px;
}
.benefits__box,
.packs__box {
  background: #fff;
  padding: 20px 22px 25px;
  min-width: 260px;
}
.benefits__hide,
.packs__hide {
  display: none;
}
.benefits__item {
  padding-left: 33px;
  margin-bottom: 16px;
  position: relative;
  color: #848484;
  font: 0.87em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.benefits__item:after {
  content: "";
  background: url("../images/sprite.png") no-repeat -35px -18px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -21%;
  left: 0%;
}
.benefits__btn {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 96px;
  height: 30px;
  border: 1px solid #045c90;
  -webkit-box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
          box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#0273a7), to(#026a98));
  background: -webkit-linear-gradient(bottom, #0273a7 0%, #026a98 100%);
  background: linear-gradient(to top, #0273a7 0%, #026a98 100%);
  color: #fff;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  width: 132px;
  font: 0.75em "Myriad Pro";
  padding-right: 22px;
}
.benefits__btn:hover {
  opacity: 0.9;
}
.packs__title {
  background: -webkit-gradient(linear, left bottom, left top, from(#0378a6), to(#0069aa));
  background: -webkit-linear-gradient(bottom, #0378a6 0%, #0069aa 100%);
  background: linear-gradient(to top, #0378a6 0%, #0069aa 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
          box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  padding: 10px 20px 6px;
  font: 1.06em "Myriad Pro";
  font-style: italic;
  color: #fff;
  letter-spacing: 0.5px;
}
.packs__box {
  background: #fff;
  padding: 16px 22px 25px;
  min-width: 260px;
}
.packs__item {
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.packs__ttl {
  color: #006ba9;
  font: 1em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
}
.packs__text {
  padding-left: 41px;
}
.packs__text:hover {
  opacity: 0.7;
}
.packs__num {
  color: #767471;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.packs__num:before {
  content: "";
  background: url("../images/sprite.png") no-repeat 0px -18px;
  width: 32px;
  height: 22px;
  position: absolute;
  top: 11%;
  left: 0%;
}
.packs__click {
  background: url("../images/sprite.png") no-repeat -38px 0px;
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
.packs__click:hover .packs-content {
  display: block;
}
.packs__btn {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 96px;
  height: 30px;
  border: 1px solid #045c90;
  -webkit-box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
          box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#0273a7), to(#026a98));
  background: -webkit-linear-gradient(bottom, #0273a7 0%, #026a98 100%);
  background: linear-gradient(to top, #0273a7 0%, #026a98 100%);
  color: #fff;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  width: 132px;
  font: 0.75em "Myriad Pro";
  padding-right: 22px;
  margin-top: 20px;
}
.packs__btn:hover {
  opacity: 0.9;
}
.packs-content {
  background: #131313;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35);
          box-shadow: 0 0 5px rgba(0,0,0,0.35);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  width: 160px;
  position: absolute;
  top: -3%;
  right: -82%;
  padding: 10px 10px 15px;
  text-align: left;
  display: none;
}
.packs-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 21%;
  left: -4%;
  border-top: 6px solid transparent;
  border-right: 7px solid #131313;
  border-bottom: 6px solid transparent;
}
.packs-content__title {
  font: 0.81em "Myriad Pro";
  margin-bottom: 5px;
  letter-spacing: 0.7px;
}
.packs-content__text {
  letter-spacing: 0.8px;
  font: 0.62em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.service__title {
  background: -webkit-gradient(linear, left bottom, left top, from(#0378a6), to(#0069aa));
  background: -webkit-linear-gradient(bottom, #0378a6 0%, #0069aa 100%);
  background: linear-gradient(to top, #0378a6 0%, #0069aa 100%);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
          box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.2) inset;
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  padding: 10px 20px 6px;
  font: 1.06em "Myriad Pro";
  font-style: italic;
  color: #fff;
  letter-spacing: 0.5px;
}
.service__box {
  background: #fff;
  padding: 14px 22px 25px;
  max-width: 380px;
  color: #848484;
}
.service__text {
  font: 0.81em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  line-height: 1.4;
}
.service__reg {
  margin-top: 11px;
}
.service__firstname,
.service__lastname {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font: 0.81em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.service__user,
.service__pass {
  width: 188px;
  height: 30px;
  border: 1px solid #1c5f6d;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
          box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
  outline: none;
  color: #9d9d9d;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  margin-right: 10px;
  padding-left: 34px;
  padding-right: 10px;
  font-size: 0.9em;
  border: 1px solid #c8c8c8;
  padding-left: 12px;
  margin-right: 0;
  width: 244px;
  margin-bottom: 5px;
}
.service__submit {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 96px;
  height: 30px;
  border: 1px solid #045c90;
  -webkit-box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
          box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#0273a7), to(#026a98));
  background: -webkit-linear-gradient(bottom, #0273a7 0%, #026a98 100%);
  background: linear-gradient(to top, #0273a7 0%, #026a98 100%);
  color: #fff;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  width: 132px;
  font: 0.75em "Myriad Pro";
  padding-right: 22px;
  margin-top: 1px;
  width: 103px;
}
.service__submit:hover {
  opacity: 0.9;
}
.content-btm {
  padding-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-btm__pay {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  background: url("../images/sprite.png") no-repeat;
  background-position: 0px -42px;
  width: 125px;
  height: 35px;
}
.content-btm__mc {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  background: url("../images/sprite.png") no-repeat;
  background-position: -60px 0px;
  width: 65px;
  height: 39px;
}
.content-btm__visa {
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  background: url("../images/sprite.png") no-repeat;
  background-position: 0px -79px;
  width: 60px;
  height: 38px;
}
.content-btm__new {
  margin-left: 65px;
}
.content-btm__title {
  color: #006ba9;
  font: 1em "Myriad Pro";
}
.content-btm__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content-btm__email {
  margin-right: 40px;
  margin-bottom: 5px;
  width: 188px;
  height: 30px;
  border: 1px solid #1c5f6d;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
          box-shadow: 0 -1px 0 rgba(255,255,255,0.56) inset, 0 0 5px rgba(0,0,0,0.23) inset;
  outline: none;
  color: #9d9d9d;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  margin-right: 10px;
  padding-left: 34px;
  padding-right: 10px;
  border: 1px solid #c8c8c8;
  padding-left: 12px;
  width: 244px;
  display: block;
}
.content-btm__sub {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  width: 96px;
  height: 30px;
  border: 1px solid #045c90;
  -webkit-box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
          box-shadow: 0 1px 0 #2f89b5 inset, 0 0 5px rgba(0,0,0,0.1) inset;
  background: -webkit-gradient(linear, left bottom, left top, from(#0273a7), to(#026a98));
  background: -webkit-linear-gradient(bottom, #0273a7 0%, #026a98 100%);
  background: linear-gradient(to top, #0273a7 0%, #026a98 100%);
  color: #fff;
  font: 0.75em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  width: 132px;
  font: 0.75em "Myriad Pro";
  padding-right: 22px;
  width: 103px;
}
.content-btm__sub:hover {
  opacity: 0.9;
}
/***footer***/
.main-footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#0069aa), to(#0378a6));
  background: -webkit-linear-gradient(bottom, #0069aa 0%, #0378a6 100%);
  background: linear-gradient(to top, #0069aa 0%, #0378a6 100%);
  border-top: 1px solid #83837f;
}
.footer {
  margin: 0 auto;
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list {
  -webkit-flex-basis: 275px;
      -ms-flex-preferred-size: 275px;
          flex-basis: 275px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__item {
  padding: 18px 0;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  font: 0.81em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__box {
  overflow: hidden;
  margin-left: 48px;
  color: #fff;
  font: 0.73em "Droid Sans", Arial, Tahoma, Verdana, sans-serif;
}
.footer__copy {
  border-right: 1px solid #fff;
  margin-right: 5px;
  padding-right: 5px;
}
.error {
  color: #d50032;
  font-size: 0.9em;
}
@media only screen and (max-width: 946px) {
  .content__box:nth-child(2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 900px) {
  .container__info {
    font-size: 1.1em;
    width: 185px;
    height: 60px;
  }
  .packs-content {
    visibility: hidden;
  }
}
@media only screen and (max-width: 769px) {
  .header__form,
  .content-btm__form {
    display: block;
  }
  .header__name {
    margin-bottom: 4px;
  }
  .header__pass {
    margin-bottom: 10px;
  }
  .content-btm__sub {
    display: block;
    margin-top: 10px;
  }
  .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 37px 10px;
  }
  .container__title {
    text-align: center;
  }
  .container__content {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .container__box {
    margin: 25px auto 0;
  }
}
@media only screen and (max-width: 640px) {
  .content-btm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-btm__visa {
    margin-right: 0;
  }
  .content-btm__new {
    margin: 25px 0 0 65px;
  }
  .footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 301px;
  }
  .footer__box {
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 566px) {
  .content__box {
    margin-right: 0;
    width: 100%;
  }
  .service__box {
    max-width: 100%;
  }
  .benefits__title,
  .packs__title,
  .service__title {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}
@media only screen and (max-width: 559px) {
  .nav__item {
    padding: 12px 15px;
  }
  .content-btm__new {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__info {
    font-size: 0.8em;
    width: 140px;
    height: 50px;
  }
  .nav__button {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .nav__item {
    float: none;
  }
}
