article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
section,
button {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.pager {
  margin: 0;
  height: 100%;
  font: 87.5%/1.78 Arial, Tahoma, Verdana, sans-serif /* 14/16 */;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/***header***/
.main-header {
  background: #000;
}
.header {
  max-width: 995px;
  margin: 0 auto;
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__small {
  color: #cc2700;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
  font-size: 2em;
}
.header__line {
  display: block;
  background: #7f7f7f;
  width: 35px;
  height: 2px;
  margin-bottom: 8px;
}
.header__link {
  display: block;
}
.nav {
  margin-right: 25px;
}
.nav__menu {
  overflow: hidden;
}
.nav__item {
  float: left;
  margin-left: 15px;
}
.nav__link {
  text-decoration: none;
  color: #7f7f7f;
}
.nav__link:hover {
  color: #cc2700;
}
/***thumb***/
.main-thumb {
  background: #0e0e0e;
  padding: 1px 0;
  -webkit-box-shadow: 0 -5px 16px #000 inset;
          box-shadow: 0 -5px 16px #000 inset;
}
.thumb {
  max-width: 995px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 0 30px 40px 30px;
  min-height: 100%;
}
.thumb__img {
  margin: -50px -34px 0 0;
  max-width: 100%;
  height: 100%;
}
.thumb__left {
  margin: 35px 0;
}
.thumb__title {
  font: 2em/1.3 Glegoo, Georgia, "Times New Roman", serif;
  color: #fff;
  letter-spacing: -2.2px;
  margin-bottom: 15px;
}
.thumb__text {
  color: #7f7f7f;
  line-height: 1.78;
}
.thumb__text_link {
  color: #cc2700;
}
.thumb__text_link:hover {
  opacity: 0.6;
}
.thumb__btn {
  border: none;
  -webkit-box-shadow: -1px 1px 0 rgba(235,129,0,0.5) inset;
          box-shadow: -1px 1px 0 rgba(235,129,0,0.5) inset;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#cc2800), to(#e36100));
  background: -webkit-linear-gradient(bottom, #cc2800 0%, #e36100 100%);
  background: linear-gradient(to top, #cc2800 0%, #e36100 100%);
  color: #fff;
  font: 1.57em Glegoo, Georgia, "Times New Roman", serif;
  padding: 10px 29px;
  line-height: 1;
  outline: none;
  margin-top: 27px;
  letter-spacing: -2px;
}
.thumb__btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
/***content***/
.main-content {
  background: #1c1d1d;
}
.content {
  max-width: 995px;
  margin: 0 auto;
  padding: 32px 30px 60px 10px;
}
.content__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content__boxer {
  margin-left: 20px;
  position: relative;
}
.content__img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.content__img:hover {
  opacity: 0.6;
}
.content__title {
  font-size: 2.14em;
  font-weight: bold;
  line-height: 0.97;
  position: absolute;
  bottom: 49%;
  left: 6%;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}
.content__title_clr1 {
  color: #d31216;
}
.content__title_clr2 {
  color: #6f7e04;
}
.content__title_clr3 {
  color: #678587;
}
.content__btn {
  font: 1.28em/1 Glegoo, Georgia, "Times New Roman", serif;
  letter-spacing: -2px;
  padding: 6px 23px;
  position: absolute;
  bottom: 20%;
  left: 6%;
  cursor: pointer;
  outline: none;
  border: 3px solid #fff;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 0 9px 0 rgba(0,0,0,0.75);
          box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 0 9px 0 rgba(0,0,0,0.75);
  background: -webkit-gradient(linear, left bottom, left top, from(#cecece), to(#fdfdfd));
  background: -webkit-linear-gradient(bottom, #cecece 0%, #fdfdfd 100%);
  background: linear-gradient(to top, #cecece 0%, #fdfdfd 100%);
}
.content__btn_clr1 {
  color: #d31216;
}
.content__btn_clr2 {
  color: #6f7e04;
}
.content__btn_clr3 {
  color: #678587;
}
.content__btn:hover {
  opacity: 0.6;
}
.content__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding-top: 36px;
  margin-left: 20px;
}
.content__event {
  -webkit-flex-basis: 615px;
      -ms-flex-preferred-size: 615px;
          flex-basis: 615px;
}
.content__ttl {
  font: 2.5em Glegoo, Georgia, "Times New Roman", serif;
  line-height: 0.78;
  color: #fff;
  letter-spacing: -2px;
  margin: 10px 0 0;
  display: block;
  letter-spacing: -3px;
}
.content__item {
  border-bottom: 1px dotted #3f4141;
  padding: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content__item:last-child {
  border-bottom: none;
  padding: 30px 0 0;
}
.content__data {
  background: #dcdcdc;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center;
  margin-right: 20px;
}
.content__data_num {
  color: #000;
  font-size: 2.64em;
  line-height: 0.8;
  font-weight: bold;
  padding: 7px 9px 11px;
}
.content__data_day {
  font-size: 0.64em;
  line-height: 1.3666;
  background: -webkit-gradient(linear, left bottom, left top, from(#cc2800), to(#e36100));
  background: -webkit-linear-gradient(bottom, #cc2800 0%, #e36100 100%);
  background: linear-gradient(to top, #cc2800 0%, #e36100 100%);
  color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}
.content__foto {
  margin-right: 20px;
  float: left;
}
.content__text {
  color: #7f7f7f;
}
.content__text_clr {
  color: #fff;
}
.content__right {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  margin-left: 20px;
}
.content__right_title {
  font: 1.78em Glegoo, Georgia, "Times New Roman", serif;
  color: #fff;
  letter-spacing: -2px;
  padding: 10px 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #0e0e0e;
  display: block;
  line-height: 1.12;
}
.content__list {
  margin-top: 19px;
  padding: 0 15px 15px;
}
.content__items {
  border-bottom: 1px dotted #3f4141;
  padding: 5px 0;
}
.content__items:hover {
  opacity: 0.6;
}
.content__items:before {
  content: " ";
  background: url("../images/sprite.png") no-repeat left center;
  padding-right: 9px;
  margin-left: 11px;
}
.content__link {
  text-decoration: none;
  color: #fff;
  font-style: italic;
}
.content-meeting {
  padding: 10px 25px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #0e0e0e;
  margin-top: 17px;
}
.content-meeting__title {
  margin-top: 4px;
  letter-spacing: -1.6px;
  color: #fff;
  font: 1.36em/1.47 Glegoo, Georgia, "Times New Roman", serif;
}
.content-meeting__img {
  width: 100%;
  margin-top: 15px;
}
.content-meeting__data {
  margin-top: 7px;
  font-weight: bold;
  color: #fff;
}
.content-meeting__text {
  color: #7f7f7f;
}
/***footer***/
.main-footer {
  background: #0f1010;
}
.footer {
  max-width: 995px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 33px 0 40px;
}
.footer__text {
  margin-left: 203px;
  color: #7f7f7f;
  line-height: 1.78;
  text-align: center;
}
.footer__clr {
  color: #cc2800;
}
.footer__clr:hover {
  opacity: 0.6;
}
.footer__social {
  margin-right: 107px;
}
.footer__icon_1 {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
  margin-left: 6px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-position: -13px 0px;
}
.footer__icon_2 {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
  margin-left: 6px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-position: -43px 0px;
}
.footer__icon_3 {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
  margin-left: 6px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-position: -73px 0px;
}
.footer__icon_4 {
  background: url("../images/sprite.png") no-repeat;
  display: inline-block;
  margin-left: 6px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-position: -103px 0px;
}
.footer__icon_1:hover {
  opacity: 0.6;
}
.footer__icon_2:hover {
  opacity: 0.6;
}
.footer__icon_3:hover {
  opacity: 0.6;
}
.footer__icon_4:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 970px) {
  .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header__logo {
    width: 100%;
  }
  .header__small {
    display: block;
    margin-right: 25px;
  }
  .nav__menu {
    display: none;
  }
  .nav__item {
    float: none;
  }
  .footer__text {
    margin-left: 100px;
  }
  .footer__social {
    margin-right: 60px;
  }
}
@media only screen and (max-width: 769px) {
  .header__img {
    width: 400px;
    height: 80px;
  }
  .thumb {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .thumb__left {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  .thumb__img {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    margin: 0 auto;
  }
  .thumb__btn {
    margin-top: 55px;
  }
  .content__top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content__img {
    width: 300px;
  }
  .content__box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .content__event {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 40px;
  }
  .content__right {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: 0;
  }
  .footer__text {
    margin-left: 50px;
  }
  .footer__social {
    margin-right: 50px;
    margin-left: 66px;
  }
}
@media only screen and (max-width: 600px) {
  .header__img {
    width: 330px;
    height: 65px;
  }
  .content__foto {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .footer {
    display: block;
    padding: 15px 0;
    text-align: center;
  }
  .footer__text {
    margin: 0;
  }
  .footer__social {
    margin: 20px 0 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .header__img {
    width: 210px;
    height: 50px;
  }
  .header__small {
    margin-right: 10px;
  }
  .header__line {
    width: 30px;
  }
  .thumb {
    padding: 0 0 30px 0;
  }
  .thumb__left {
    padding: 0 10px;
  }
  .content {
    padding: 30px 0;
  }
  .content__boxer {
    margin-left: 0;
  }
  .content__box {
    margin-left: 0;
    padding: 0 10px;
    margin-top: 15px;
  }
  .content__data {
    display: none;
  }
  .thumb__btn {
    margin-top: 20px;
  }
}
